<ion-content>
  <section class="slides">

    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="slide1">
          <img src="/assets/1.png">
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide2">
          <img src="/assets/2.png">
        </div>
      </ion-slide>
      
      <ion-slide>
        <div class="slide3">
          <a routerLink="/login">
            <img src="/assets/3.png">
          </a>
        </div>
      </ion-slide>
    </ion-slides>

    <!-- Particulas -->
    <div class="stars" ></div>
    <div class="stars2" ></div>

  </section>
</ion-content>