<ion-content fullscreen="true">
  <section class="area-cadastro">
    <div>
      <h3>Bem-vindo ao</h3>
      <img src="/assets/Logo.png">
    </div>

    <div class="login">
      <form>
        <ion-text class="page-title"><h2>Cadastrar</h2></ion-text>
        <input type="text" name="nome" placeholder="Digite seu e-mail" autofocus>
        <input type="text" name="nome" placeholder="User name">
        <input type="tel" name="telefone" placeholder="Digite seu telefone" required pattern="[0-9]{2} [0-9]{5}-[0-9]{4}"placeholder="11 99999-9999">
        <input type="date" name="nome" placeholder="Data de nascimento">
        <input type="text" name="nome" placeholder="Biografia">
        <input type="password" name="senha" placeholder="Senha">
        <button type="submit">Cadastrar</button>

        <div class="accounts">
          <button class="round-ico">
            <ion-icon name="logo-google"></ion-icon>
          </button>
          <button class="round-ico">
            <ion-icon name="logo-github"></ion-icon>
          </button>
        </div>

      </form>
    </div>

    <div class="logar">
      <p>Já tem uma conta?</p>
      <a routerLink="/login">Fazer login</a>
    </div>

  </section>
</ion-content>
