@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* #General */
.area-cadastro {
  background-image: -ms-linear-gradient( 136deg, #e0c3fc 0%, #275fcf, #8dc4fc 100%);
	background-image: -moz-linear-gradient( 136deg, #e0c3fc 0%, #275fcf, #8ec5fc 100%);
  background-image: -webkit-linear-gradient( 45deg, #1e0033, #5160ff);
	background-size: 200% 200%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  height: 100vh;
  min-height: 560px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: colors 15s ease infinite;
  padding: 2%;
 }

/* Background animation */
@keyframes colors {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.login {
  margin: 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 370px;
  padding: 15px;
  background: #fff;
  border-radius: 30px;
}

/* Escala de adaptação em multiplas telas */
@media screen and (max-width: 280px) {
  .login {
    max-width: 245px;
  }
}

.login form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.login input, .login select {
  background-color: rgba(184, 184, 184, 0.5);
  margin: 5px 0;
  color: rgba(0, 0, 0, 1);
  padding-left: 10px;
  font-size: 10pt;
  border: none;
  height: 45px;
  outline: none;
  border-radius: 27px;
}

select option:first-of-type{
  display: none;
}

.input::placeholder {
  color: #ffffffa9;
}

button{
  background: #3e51ff;
  margin-top: 10px;
  height: 45px;
  border-radius: 27px;
}

button.round-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #3e51ff;
  width: 45px;
  margin: 10px 3px;
  height: 45px;
  font-size: 16pt;
  outline: none;
}

ion-button{
  margin-top: 10px;
  height: 45px;
  font-size: 16pt;
  outline: none;
}
.round-ico{
border-radius: 27px !important;
}

.page-title {
  text-align: center;
  color: #5160ff;
  margin-top: -5%;
}

.logar {
  width: 280px;
  font-size: 11px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Escala de adaptação em multiplas telas */
@media screen and (max-width: 280px) {
  .logar {
    max-width: 245px;
  }
}

.logar:hover {
  background: #0639a0;
}

.accounts {
  justify-content: center;
  align-items: center;
  display: flex;
}

p {
  width: 64%;
  padding: 13px 7px;
  background: #fff;
  border-radius: 14px 0 0 14px;
  text-align: center;
  color: rgba(109, 109, 109, 0.782);
}

a {
  width: 36%;
  padding: 13px 7px;
  background: #275fcf;
  border-radius: 0 14px 14px 0;
  text-align: center;
  margin: none;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  background: #0639a0;
}

img {
  top: 0;
  margin-top: 3%;
  width: 250px;
  height: auto;
}

h3{
  color: #ffff;
  text-align: center;
  align-items: center;
  font-size: 13pt;
  top: 0;
}


