span{
  color:#ffff !important;
  font-family:'Poppins', sans-serif !important;
  font-size: 24px !important;
}
.enter-btn{
  border-radius: 27% !important;
  font-family: 'Poppins', sans-serif !important;
  color:#000000 !important;
  font-size: 20px !important;
}

