<ion-content fullscreen="true">
  <section class="area-login">

    <div>
      <h3>Bem-vindo ao</h3>
      <img src="/assets/Logo.png">
    </div>

    <div class="login">
      <form>
        <ion-text class="page-title"><h2>Login</h2></ion-text>
        <input type="text" name="nome" placeholder="Nome de usuário" [(ngModel)]="userLogin.email" autofocus>
        <input type="password" name="senha" placeholder="Sua senha" [(ngModel)]="userLogin.password">
        <button type="submit" (click)='login()' [disabled]="isLogin">Entrar</button>
        <div class="accounts">
          <button class="round-ico" (click)='googleSignIn()' [disabled]="isLogin">
            <ion-icon name="logo-google"></ion-icon>
          </button>
          <button class="round-ico" (click)='facebookSignIn()' [disabled]="isLogin">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
          <button class="round-ico" (click)='githubSignIn()' [disabled]="isLogin">
            <ion-icon name="logo-github"></ion-icon>
          </button>
        </div>
      </form>
    </div>

    <div class="cadastro">
      <p>Não tem uma conta?</p>
      <a routerLink="/criar-conta">Criar conta</a>
    </div>

  </section>
</ion-content>
