/* #General */

.area-login {
  background-image: -ms-linear-gradient( 136deg, #e0c3fc 0%, #8dc4fc 100%);
	background-image: -moz-linear-gradient( 136deg, #e0c3fc 0%, #8ec5fc 100%);
  background-image: -webkit-linear-gradient( 45deg, #ff012b, #0084ff);
	background-size: 200% 200%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: colors 15s ease-in infinite;
}

/* Background animation */
@keyframes colors {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 300px;
  padding: 15px;
  background: #fff;
  border-radius: 10px
}