<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="align-logo-center">
        <img src="/assets/Logo.png" class="ion-padding">
      </div>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
<!--menu toogle-->

  <!--imaegm do perfil e nome-->

  <ion-item >
    <ion-avatar class="perfilzin" slot="start">
      <img src="/assets/cataldinata.jpg">
    </ion-avatar>
    <ion-label class="name-user">Natã Cataldi</ion-label>
  </ion-item>


  <!--informações do perfil-->

  <ion-card>
    <ion-item href="#">
      <ion-icon name="images-outline" slot="start"></ion-icon>
      <ion-label>Minhas postagens</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="download-outline" slot="start"></ion-icon>
      <ion-label>Arquivos baixados</ion-label>
    </ion-item>

    <ion-item routerLink="/configuracoes">
      <ion-icon name="cog-outline" slot="start"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-item>

    <ion-item (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
