<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar type="search" placeholder="Pesquise aqui"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">
    <ion-list>

      <ion-item-divider>
        <ion-label color="primary">
          <h2>Filtro por grau</h2>
        </ion-label>
      </ion-item-divider>
      <div *ngIf="nivelEnsino">
        <ion-card *ngFor="let nivel of nivelEnsino" routerLink="/grau/{{nivel}}}}">

          <ion-item>
            <ion-icon [name]="nivel.icone" slot="start"></ion-icon>

            <ion-label>{{nivel.nivel}}</ion-label>
          </ion-item>

          <ion-card-content> {{nivel.descricao}} </ion-card-content>
        </ion-card>
      </div>

      <ion-item-divider>
        <ion-label color="primary">
          <h2>Filtro por materias</h2>
        </ion-label>
      </ion-item-divider>

      <div *ngIf="materias">
        <ion-card *ngFor="let materia of materias" routerLink="/materia/{{materia.materia}}">

          <ion-item >
            <ion-icon [name]="materia.icone" slot="start"></ion-icon>
            <ion-label>{{materia.materia}}</ion-label>
          </ion-item>

          <ion-card-content> {{materia.descricao}} </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
</ion-content>
