/* General */

.search{
    --background: linear-gradient(0deg, #275fcf, #8502ff) 100% 100% no-repeat;
}

ion-card {
    -webkit-backdrop-filter: blur( 4px );
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    color: #fff;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

ion-list {
    background: none;
}