@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* General */
ion-card {
  -webkit-backdrop-filter: blur( 4px );
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  color: #fff;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.search{
  --background: linear-gradient(0deg, #253b68, #3a7cdf) 100% 100% no-repeat;
  font-family: 'Poppins', sans-serif;
}

ion-list {
  background: none;
}

.header {
  padding: 0;
  box-shadow: 0 8px 32px 0 rgba(13, 18, 110, 0.301);
  color: #fff;
  ion-searchbar {
    position: relative;
    padding: 5% 3%;
    border-radius: 1em;
  }
}

.divider {
  margin: 5px;
  padding: 5px;
  color: #fff;
  font-weight: 800;
  text-align: center;
}

.feed{
  margin: 0 auto;
  max-width: 500px;
}

.translucent {
  -webkit-backdrop-filter: blur( 13.5px );
  text-align: justify;
  font-family: 'Poppins';
  backdrop-filter: blur( 13.5px );
  background: rgba( 255, 255, 255, 0.35 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.feed{
  ion-card {
    color: black;
    margin-bottom: 30px;
    background: rgb(218, 218, 218);
    img {
      width: 100%;
      background: rgb(219, 219, 219);
    }

    ion-card-header{
      padding-top: 20px;
      padding-bottom: 6px;
    }

    ion-badge{
      margin-top: 8px;
      margin-right: 12px;
      --padding-top: 5px;
      --padding-bottom: 5px;
      --padding-left: 15px;
      --padding-right: 15px;
    }
  }

  .actions-btn {
    ion-button {
      border-radius: 50px;
      background: #2f303573 !important;
      width: 90px;
      margin: 0 0 5% 2.5%;
      height: 25px;
      font-size: 10pt;
      outline: none;
    }
  }

  .comentario{
    width: 100px;
    position: absolute;
    font-size: 34px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    color:#04085E;
  }

  .curtida{
    font-size: 34px;
    color: #04085E;
  }

  .menu{
    font-size: 10px;
  }
}

// Web Version Mentalize App
@media screen and (min-width: 1024px) {
  .web-card-grau {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .web-card-materia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  ion-card {
    width: 30%;
  }

  /* Config */
  $color-particle: #fff;
  $spacing: 2560px;
  $time-1: 60s;
  $time-2: 120s;
  $time-3: 180s;
  $time-4: 200s;

  /* mixins */
  @function particles($max) {
    $val: 0px 0px $color-particle;
    @for $i from 1 through $max {
      $val: #{$val}, random($spacing)+px random($spacing)+px $color-particle;
    }
    @return $val;
  }

  @mixin particles($max) {
    box-shadow: particles($max);
    border-radius: 50%;
  }

  .page-bg, .animation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .page-bg {
    background-blend-mode: screen;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
  }

  .particle, .particle:after {
    background: transparent;
  }

  .particle:after {
    position: relative;
    content: "";
    top: $spacing;
  }

  .particle-1 {
    animation: animParticle $time-1 linear infinite;
    @include particles(1000);
    height: 2px;
    width: 2px;
  }

  .particle-1:after {
    @include particles(900);
    height: 2px;
    width: 2px;
  }

  .particle-2 {
    animation: animParticle $time-2 linear infinite;
    @include particles(800);
    height: 2px;
    width: 2px;
  }

  .particle-2:after {
    @include particles(500);
    height: 3px;
    width: 3px;
  }

  .particle-3:after {
    @include particles(1100);
    height: 3px;
    width: 3px;
    border-radius: 50%;
  }

  .particle-4 {
    animation: animParticle $time-4 linear infinite;
    @include particles(1200);
    height: 1px;
    width: 1px;
  }

  .particle-4:after {
    @include particles(700);
    height: 1px;
    width: 1px;
  }

  @keyframes animParticle {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY($spacing * -1);
    }
  }

  .page-wrapper {
    text-align: center;
    color: #fff;
    z-index: 2;
  }
}