<ion-content>

  <div class="perfil-place">
    <ion-avatar class="perfil">
      <img class="perfilzin" alt="Imagem de perfil" src="../assets/cataldinata.jpg" />
    </ion-avatar>
</div>

    <div class="name">
      <ion-label class="name-user">Natã Cataldi</ion-label>
    </div>

    <div class="bio-user">
      <p> Biografia do usuário:</p>
    </div>

<div class="publi-user"> 

  <div class="publi-title">
    <p>Postagens do usuário</p>
  

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</div>
</ion-content>
