<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="align-logo-center">
        <img src="/assets/Logo.png" class="ion-padding">
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!--Selecionar o grau-->
<ion-title class="grauzin">
  Escolha o grau de ensino:
</ion-title>
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Selecione o grau">
        <ion-select-option value="fundamentali">Fundamental I</ion-select-option>
        <ion-select-option value="fundamentalii">Fundamental II</ion-select-option>
        <ion-select-option value="ensino_medio">Ensino Médio</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

<!--selecionar a matéria-->
<ion-title class="grauzin">
  Escolha a matéria:
</ion-title>
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Selecione a matéria">
        <ion-select-option value="artes">Artes</ion-select-option>
        <ion-select-option value="matematica">Matemática</ion-select-option>
        <ion-select-option value="portugues">Língua Portuguesa</ion-select-option>
        <ion-select-option value="literatura">Literatura</ion-select-option>
        <ion-select-option value="estrangeiras">Línguas Estrabgeiras</ion-select-option>
        <ion-select-option value="geografia">Geografia</ion-select-option>
        <ion-select-option value="historia">História</ion-select-option>
        <ion-select-option value="biologia">Biologia</ion-select-option>
        <ion-select-option value="quimica">Química</ion-select-option>
        <ion-select-option value="fisica">Física</ion-select-option>
        <ion-select-option value="filosofia">Filosofia</ion-select-option>
        <ion-select-option value="sociologia">Sociologia</ion-select-option>
        <ion-select-option value="ed_fisica">Educação Física</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
